<h1>Teams</h1>

<table class="table table-hover">

  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Home city</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.home_city %></td>
        <td>
          <%= link_to 'Show', team %> |
          <%= link_to 'Edit', edit_team_path(team) %> |
          <%= link_to 'Destroy', team, data: { turbo_method: :delete } %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<p>
  <%= link_to 'New Team', new_team_path, class: 'btn btn-primary' %>
</p>
