<h1>Listing</h1>

<%= bootstrap_form_with model: @listing do |form| %>

  <%= form.text_field :name, disabled: true %>
  <%= form.text_area :description, disabled: true %>
  <%= form.check_box :available, disabled: true %>

<% end %>

<p class="my-3">
  <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-primary' %>
</p>

<p>
  <%= link_to 'Back', listings_path, class: 'btn btn-outline-secondary' %>
</p>
